body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрирует содержимое формы */
}

label, input, select, button {
    display: block;
    margin: 10px auto; /* Центрирует элементы формы */
}

input, select {
    padding: 10px;
    width: 200px;
    max-width: 300px;
    box-sizing: border-box; /* Учитывает padding в общей ширине */
}

button {
    padding: 10px 20px;
    background-color: #004cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    max-width: 300px;
    margin: 10px auto;
}

button:hover {
    background-color: #0056b3;
}

a {
    margin-top: 20px;
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
